<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Chat Service</title>
</head>
<body>
    <form action="/form/login" method="post">
        <input type="hidden" name="form" value="{{ form-id }}">
        <label for="username">Username</label>
        <input type="text" name="username" id="username" required>
        <input type="submit" value="Create Session">
    </form>
</body>
</html>
